In [2]:
import pandas as pd
import numpy as np
import json

In [3]:
data_folder = "data/kepler-model-training-collect/data/"
filename = "idle.json"

In [4]:
file = open(data_folder + filename)
data = file.read()
data = json.loads(data)

In [8]:
result = {}

for metric in data:
    temp = []
    if metric == 'kepler_container_joules_total':
        for container_metric in data[metric]:
            tmp = [[container_metric['metric']['container_id'], container_metric['metric']['instance'], values[0], values[1]] for values in container_metric['values']]
            tmp_df = pd.DataFrame(tmp, columns =['container_id', 'node', 'time', 'value'])
            temp.append(tmp_df)
    elif metric == 'node_cpu_seconds_total':
        for node_metric in data[metric]:
            tmp = [[node_metric['metric']['instance'], node_metric['metric']['cpu'], values[0], values[1]] for values in node_metric['values']]
            tmp_df = pd.DataFrame(tmp, columns =['node', 'cpu', 'time', 'value'])
            temp.append(tmp_df)
    elif metric == 'kepler_node_package_joules_total':
        for node_metric in data[metric]:
            tmp = [[node_metric['metric']['instance'], node_metric['metric']['package'], values[0], values[1]] for values in node_metric['values']]
            tmp_df = pd.DataFrame(tmp, columns =['node', 'cpu', 'time', 'value'])
            temp.append(tmp_df)
    else:
        continue
    t = pd.concat(temp)
    t['value'] = t['value'].astype(float)
    result[metric] = t.reset_index(drop = True)

In [9]:
result['kepler_container_joules_total']

,container_id,node,time,value
0,26e82e447905c361436ebf0b03287d97bca8338b63a21f...,10.242.64.5,1698828353,1.738631e+07
1,26e82e447905c361436ebf0b03287d97bca8338b63a21f...,10.242.64.5,1698828356,1.738632e+07
2,26e82e447905c361436ebf0b03287d97bca8338b63a21f...,10.242.64.5,1698828359,1.738633e+07
3,26e82e447905c361436ebf0b03287d97bca8338b63a21f...,10.242.64.5,1698828362,1.738634e+07
4,26e82e447905c361436ebf0b03287d97bca8338b63a21f...,10.242.64.5,1698828365,1.738635e+07
...,...,...,...,...
18225,system_processes,10.242.64.5,1698829340,1.738458e+07
18226,system_processes,10.242.64.5,1698829343,1.738459e+07
18227,system_processes,10.242.64.5,1698829346,1.738460e+07
18228,system_processes,10.242.64.5,1698829349,1.738461e+07
18229,system_processes,10.242.64.5,1698829352,1.738462e+07

In [10]:
result['node_cpu_seconds_total']

              node cpu        time       value
0      10.242.64.4   0  1698828353  4602008.90
1      10.242.64.4   0  1698828356  4602022.30
2      10.242.64.4   0  1698828359  4602022.30
3      10.242.64.4   0  1698828362  4602022.30
4      10.242.64.4   0  1698828365  4602022.30
...            ...  ..         ...         ...
21371  10.242.64.5   3  1698829340   514474.16
21372  10.242.64.5   3  1698829343   514474.16
21373  10.242.64.5   3  1698829346   514474.16
21374  10.242.64.5   3  1698829349   514474.16
21375  10.242.64.5   3  1698829352   514474.16

[21376 rows x 4 columns]

In [11]:
result['kepler_node_package_joules_total']

            node cpu        time         value
0    10.242.64.5   0  1698828353  3.500684e+08
1    10.242.64.5   0  1698828356  3.500686e+08
2    10.242.64.5   0  1698828359  3.500688e+08
3    10.242.64.5   0  1698828362  3.500691e+08
4    10.242.64.5   0  1698828365  3.500693e+08
..           ...  ..         ...           ...
329  10.242.64.5   0  1698829340  3.501468e+08
330  10.242.64.5   0  1698829343  3.501471e+08
331  10.242.64.5   0  1698829346  3.501473e+08
332  10.242.64.5   0  1698829349  3.501475e+08
333  10.242.64.5   0  1698829352  3.501478e+08

[334 rows x 4 columns]

In [15]:
energy = result['kepler_container_joules_total']
energy_agg = energy.groupby(['node', 'time'], as_index=False)['value'].sum()

In [16]:
energy_agg

            node        time         value
0    10.242.64.5  1698828353  4.354503e+08
1    10.242.64.5  1698828356  4.354508e+08
2    10.242.64.5  1698828359  4.354514e+08
3    10.242.64.5  1698828362  4.354519e+08
4    10.242.64.5  1698828365  4.354524e+08
..           ...         ...           ...
329  10.242.64.5  1698829340  4.356213e+08
330  10.242.64.5  1698829343  4.356218e+08
331  10.242.64.5  1698829346  4.356223e+08
332  10.242.64.5  1698829349  4.356228e+08
333  10.242.64.5  1698829352  4.356233e+08

[334 rows x 3 columns]

In [17]:
cpu_util = result['node_cpu_seconds_total']
cpu_util_agg = cpu_util.groupby(['node', 'time'], as_index=False)['value'].sum()

In [18]:
cpu_util_agg

            node        time        value
0    10.242.64.4  1698828353  21412694.03
1    10.242.64.4  1698828356  21412753.41
2    10.242.64.4  1698828359  21412753.41
3    10.242.64.4  1698828362  21412753.41
4    10.242.64.4  1698828365  21412753.41
..           ...         ...          ...
663  10.242.64.5  1698829340  21272396.88
664  10.242.64.5  1698829343  21272396.88
665  10.242.64.5  1698829346  21272396.88
666  10.242.64.5  1698829349  21272396.88
667  10.242.64.5  1698829352  21272396.88

[668 rows x 3 columns]

In [19]:
node_power = result['kepler_node_package_joules_total']
node_power = node_power.groupby(['node', 'time'], as_index=False)['value'].sum()

In [20]:
node_power

            node        time         value
0    10.242.64.5  1698828353  3.500684e+08
1    10.242.64.5  1698828356  3.500686e+08
2    10.242.64.5  1698828359  3.500688e+08
3    10.242.64.5  1698828362  3.500691e+08
4    10.242.64.5  1698828365  3.500693e+08
..           ...         ...           ...
329  10.242.64.5  1698829340  3.501468e+08
330  10.242.64.5  1698829343  3.501471e+08
331  10.242.64.5  1698829346  3.501473e+08
332  10.242.64.5  1698829349  3.501475e+08
333  10.242.64.5  1698829352  3.501478e+08

[334 rows x 3 columns]

In [30]:
final = pd.merge(cpu_util_agg, energy_agg, on = ['time', 'node'])
final.rename(columns={'value_x':'cpu', 'value_y':'energy'}, inplace=True)
final.sort_values('time', inplace=True)

final = pd.merge(final, node_power, on = ['time', 'node'])
final.rename(columns={'value':'node_energy'}, inplace=True)

In [31]:
final

            node        time          cpu        energy   node_energy
0    10.242.64.5  1698828353  21268471.81  4.354503e+08  3.500684e+08
1    10.242.64.5  1698828356  21268471.81  4.354508e+08  3.500686e+08
2    10.242.64.5  1698828359  21268471.81  4.354514e+08  3.500688e+08
3    10.242.64.5  1698828362  21268471.81  4.354519e+08  3.500691e+08
4    10.242.64.5  1698828365  21268531.56  4.354524e+08  3.500693e+08
..           ...         ...          ...           ...           ...
329  10.242.64.5  1698829340  21272396.88  4.356213e+08  3.501468e+08
330  10.242.64.5  1698829343  21272396.88  4.356218e+08  3.501471e+08
331  10.242.64.5  1698829346  21272396.88  4.356223e+08  3.501473e+08
332  10.242.64.5  1698829349  21272396.88  4.356228e+08  3.501475e+08
333  10.242.64.5  1698829352  21272396.88  4.356233e+08  3.501478e+08

[334 rows x 5 columns]

In [32]:
final['cpu'] = final['cpu'].diff()
final['energy'] = final['energy'].diff()
final['node_energy'] = final['node_energy'].diff()
final.fillna(0, inplace=True)

In [33]:
final

            node        time    cpu   energy  node_energy
0    10.242.64.5  1698828353   0.00    0.000        0.000
1    10.242.64.5  1698828356   0.00  519.534      238.486
2    10.242.64.5  1698828359   0.00  519.534      238.486
3    10.242.64.5  1698828362   0.00  519.534      238.486
4    10.242.64.5  1698828365  59.75  519.534      238.486
..           ...         ...    ...      ...          ...
329  10.242.64.5  1698829340  59.12  519.534      238.486
330  10.242.64.5  1698829343   0.00  519.534      238.486
331  10.242.64.5  1698829346   0.00  519.534      238.486
332  10.242.64.5  1698829349   0.00  519.534      238.486
333  10.242.64.5  1698829352   0.00  519.534      238.486

[334 rows x 5 columns]

In [36]:
final[final['cpu']!=0].shape

(33, 4)

In [35]:
data.keys()

dict_keys(['kepler_container_bpf_block_irq_total', 'kepler_container_bpf_cpu_time_us_total', 'kepler_container_bpf_net_rx_irq_total', 'kepler_container_bpf_net_tx_irq_total', 'kepler_container_cgroupfs_cpu_usage_us_total', 'kepler_container_cgroupfs_memory_usage_bytes_total', 'kepler_container_cgroupfs_system_cpu_usage_us_total', 'kepler_container_cgroupfs_user_cpu_usage_us_total', 'kepler_container_core_joules_total', 'kepler_container_dram_joules_total', 'kepler_container_joules_total', 'kepler_container_kubelet_cpu_usage_total', 'kepler_container_kubelet_memory_bytes_total', 'kepler_container_other_joules_total', 'kepler_container_package_joules_total', 'kepler_container_uncore_joules_total', 'kepler_exporter_build_info', 'kepler_node_core_joules_total', 'kepler_node_dram_joules_total', 'kepler_node_info', 'kepler_node_other_joules_total', 'kepler_node_package_joules_total', 'kepler_node_platform_joules_total', 'kepler_node_uncore_joules_total', 'node_cpu_seconds_total'])

In [39]:
data['kepler_node_package_joules_total']

[{'metric': {'__name__': 'kepler_node_package_joules_total',
   'container': 'kepler-exporter',
   'endpoint': 'http',
   'exported_instance': '10.242.64.5',
   'instance': '10.242.64.5',
   'job': 'kepler-exporter',
   'mode': 'dynamic',
   'namespace': 'kepler',
   'package': '0',
   'pod': 'kepler-exporter-pj9cj',
   'service': 'kepler-exporter',
   'source': 'rapl'},
  'values': [[1698828353, '350068352.708'],
   [1698828356, '350068591.194'],
   [1698828359, '350068829.68'],
   [1698828362, '350069068.166'],
   [1698828365, '350069306.652'],
   [1698828368, '350069545.138'],
   [1698828371, '350069783.624'],
   [1698828374, '350070022.11'],
   [1698828377, '350070260.596'],
   [1698828380, '350070499.082'],
   [1698828383, '350070737.568'],
   [1698828386, '350070976.054'],
   [1698828389, '350071214.54'],
   [1698828392, '350071453.026'],
   [1698828395, '350071691.512'],
   [1698828398, '350071929.998'],
   [1698828401, '350072168.484'],
   [1698828404, '350072406.97'],
   [1698828407, '350072645.456'],
   [1698828410, '350072883.942'],
   [1698828413, '350073122.428'],
   [1698828416, '350073360.914'],
   [1698828419, '350073599.4'],
   [1698828422, '350073837.886'],
   [1698828425, '350074076.372'],
   [1698828428, '350074314.858'],
   [1698828431, '350074553.344'],
   [1698828434, '350074791.83'],
   [1698828437, '350075030.316'],
   [1698828440, '350075030.316'],
   [1698828443, '350075030.316'],
   [1698828446, '350075030.316'],
   [1698828449, '350075030.316'],
   [1698828452, '350075030.316'],
   [1698828455, '350075030.316'],
   [1698828458, '350075030.316'],
   [1698828461, '350075030.316'],
   [1698828464, '350075030.316'],
   [1698828467, '350075030.316'],
   [1698828470, '350075030.316'],
   [1698828473, '350075030.316'],
   [1698828476, '350075030.316'],
   [1698828479, '350075030.316'],
   [1698828482, '350075030.316'],
   [1698828485, '350075030.316'],
   [1698828488, '350075030.316'],
   [1698828491, '350075030.316'],
   [1698828494, '350075030.316'],
   [1698828497, '350075030.316'],
   [1698828500, '350075030.316'],
   [1698828503, '350075030.316'],
   [1698828506, '350075030.316'],
   [1698828509, '350075030.316'],
   [1698828512, '350075030.316'],
   [1698828515, '350075030.316'],
   [1698828518, '350075030.316'],
   [1698828521, '350075030.316'],
   [1698828524, '350075030.316'],
   [1698828527, '350075030.316'],
   [1698828530, '350075030.316'],
   [1698828533, '350075030.316'],
   [1698828536, '350075030.316'],
   [1698828539, '350075030.316'],
   [1698828542, '350075030.316'],
   [1698828545, '350075030.316'],
   [1698828548, '350075030.316'],
   [1698828551, '350075030.316'],
   [1698828554, '350075030.316'],
   [1698828557, '350075030.316'],
   [1698828560, '350075030.316'],
   [1698828563, '350075030.316'],
   [1698828566, '350075030.316'],
   [1698828569, '350075030.316'],
   [1698828572, '350075030.316'],
   [1698828575, '350075030.316'],
   [1698828578, '350086239.158'],
   [1698828581, '350086477.644'],
   [1698828584, '350086716.13'],
   [1698828587, '350086954.616'],
   [1698828590, '350087193.102'],
   [1698828593, '350087431.588'],
   [1698828596, '350087670.074'],
   [1698828599, '350087908.56'],
   [1698828602, '350088147.046'],
   [1698828605, '350088147.046'],
   [1698828608, '350088147.046'],
   [1698828611, '350088147.046'],
   [1698828614, '350088147.046'],
   [1698828617, '350088147.046'],
   [1698828620, '350088147.046'],
   [1698828623, '350088147.046'],
   [1698828626, '350088147.046'],
   [1698828629, '350088147.046'],
   [1698828632, '350088147.046'],
   [1698828635, '350088147.046'],
   [1698828638, '350088147.046'],
   [1698828641, '350088147.046'],
   [1698828644, '350088147.046'],
   [1698828647, '350088147.046'],
   [1698828650, '350088147.046'],
   [1698828653, '350088147.046'],
   [1698828656, '350088147.046'],
   [1698828659, '350088147.046'],
   [1698828662, '350088147.046'],
   [1698828665, '350088147.046'],
   [1698828668, '350088147.046'],
   [1698828671, '350088147.046'],
   [1698828674, '350088147.046'],
   [1698828677, '350088147.046'],
   [1698828680, '350088147.046'],
   [1698828683, '350094586.168'],
   [1698828686, '350094824.654'],
   [1698828689, '350095063.14'],
   [1698828692, '350095301.626'],
   [1698828695, '350095540.112'],
   [1698828698, '350095778.598'],
   [1698828701, '350096017.084'],
   [1698828704, '350096255.57'],
   [1698828707, '350096494.056'],
   [1698828710, '350096732.542'],
   [1698828713, '350096971.028'],
   [1698828716, '350096971.028'],
   [1698828719, '350096971.028'],
   [1698828722, '350096971.028'],
   [1698828725, '350096971.028'],
   [1698828728, '350096971.028'],
   [1698828731, '350096971.028'],
   [1698828734, '350096971.028'],
   [1698828737, '350096971.028'],
   [1698828740, '350096971.028'],
   [1698828743, '350096971.028'],
   [1698828746, '350096971.028'],
   [1698828749, '350096971.028'],
   [1698828752, '350096971.028'],
   [1698828755, '350096971.028'],
   [1698828758, '350096971.028'],
   [1698828761, '350096971.028'],
   [1698828764, '350096971.028'],
   [1698828767, '350096971.028'],
   [1698828770, '350096971.028'],
   [1698828773, '350096971.028'],
   [1698828776, '350096971.028'],
   [1698828779, '350096971.028'],
   [1698828782, '350096971.028'],
   [1698828785, '350096971.028'],
   [1698828788, '350096971.028'],
   [1698828791, '350096971.028'],
   [1698828794, '350096971.028'],
   [1698828797, '350096971.028'],
   [1698828800, '350096971.028'],
   [1698828803, '350096971.028'],
   [1698828806, '350096971.028'],
   [1698828809, '350096971.028'],
   [1698828812, '350096971.028'],
   [1698828815, '350096971.028'],
   [1698828818, '350096971.028'],
   [1698828821, '350105556.524'],
   [1698828824, '350105795.01'],
   [1698828827, '350106033.496'],
   [1698828830, '350106271.982'],
   [1698828833, '350106510.468'],
   [1698828836, '350106748.954'],
   [1698828839, '350106987.44'],
   [1698828842, '350107225.926'],
   [1698828845, '350107464.412'],
   [1698828848, '350107702.898'],
   [1698828851, '350107941.384'],
   [1698828854, '350108179.87'],
   [1698828857, '350108418.356'],
   [1698828860, '350108656.842'],
   [1698828863, '350108895.328'],
   [1698828866, '350109133.814'],
   [1698828869, '350109372.3'],
   [1698828872, '350109610.786'],
   [1698828875, '350109849.272'],
   [1698828878, '350110087.758'],
   [1698828881, '350110326.244'],
   [1698828884, '350110564.73'],
   [1698828887, '350110803.216'],
   [1698828890, '350111041.702'],
   [1698828893, '350111280.188'],
   [1698828896, '350111518.674'],
   [1698828899, '350111757.16'],
   [1698828902, '350111995.646'],
   [1698828905, '350112234.132'],
   [1698828908, '350112472.618'],
   [1698828911, '350112711.104'],
   [1698828914, '350112949.59'],
   [1698828917, '350113188.076'],
   [1698828920, '350113426.562'],
   [1698828923, '350113426.562'],
   [1698828926, '350113426.562'],
   [1698828929, '350113426.562'],
   [1698828932, '350113426.562'],
   [1698828935, '350113426.562'],
   [1698828938, '350113426.562'],
   [1698828941, '350113426.562'],
   [1698828944, '350113426.562'],
   [1698828947, '350113426.562'],
   [1698828950, '350113426.562'],
   [1698828953, '350113426.562'],
   [1698828956, '350113426.562'],
   [1698828959, '350113426.562'],
   [1698828962, '350113426.562'],
   [1698828965, '350113426.562'],
   [1698828968, '350113426.562'],
   [1698828971, '350113426.562'],
   [1698828974, '350113426.562'],
   [1698828977, '350113426.562'],
   [1698828980, '350113426.562'],
   [1698828983, '350113426.562'],
   [1698828986, '350113426.562'],
   [1698828989, '350113426.562'],
   [1698828992, '350113426.562'],
   [1698828995, '350113426.562'],
   [1698828998, '350113426.562'],
   [1698829001, '350113426.562'],
   [1698829004, '350120104.17'],
   [1698829007, '350120342.656'],
   [1698829010, '350120581.142'],
   [1698829013, '350120819.628'],
   [1698829016, '350121058.114'],
   [1698829019, '350121296.6'],
   [1698829022, '350121535.086'],
   [1698829025, '350121773.572'],
   [1698829028, '350122012.058'],
   [1698829031, '350122012.058'],
   [1698829034, '350122012.058'],
   [1698829037, '350122012.058'],
   [1698829040, '350122012.058'],
   [1698829043, '350122012.058'],
   [1698829046, '350122012.058'],
   [1698829049, '350122012.058'],
   [1698829052, '350122012.058'],
   [1698829055, '350122012.058'],
   [1698829058, '350122012.058'],
   [1698829061, '350122012.058'],
   [1698829064, '350122012.058'],
   [1698829067, '350122012.058'],
   [1698829070, '350122012.058'],
   [1698829073, '350122012.058'],
   [1698829076, '350122012.058'],
   [1698829079, '350122012.058'],
   [1698829082, '350122012.058'],
   [1698829085, '350122012.058'],
   [1698829088, '350122012.058'],
   [1698829091, '350122012.058'],
   [1698829094, '350122012.058'],
   [1698829097, '350122012.058'],
   [1698829100, '350122012.058'],
   [1698829103, '350122012.058'],
   [1698829106, '350122012.058'],
   [1698829109, '350122012.058'],
   [1698829112, '350122012.058'],
   [1698829115, '350122012.058'],
   [1698829118, '350122012.058'],
   [1698829121, '350122012.058'],
   [1698829124, '350122012.058'],
   [1698829127, '350122012.058'],
   [1698829130, '350122012.058'],
   [1698829133, '350122012.058'],
   [1698829136, '350122012.058'],
   [1698829139, '350122012.058'],
   [1698829142, '350131074.526'],
   [1698829145, '350131313.012'],
   [1698829148, '350131551.498'],
   [1698829151, '350131789.984'],
   [1698829154, '350132028.47'],
   [1698829157, '350132266.956'],
   [1698829160, '350132505.442'],
   [1698829163, '350132743.928'],
   [1698829166, '350132982.414'],
   [1698829169, '350133220.9'],
   [1698829172, '350133459.386'],
   [1698829175, '350133697.872'],
   [1698829178, '350133936.358'],
   [1698829181, '350134174.844'],
   [1698829184, '350134413.33'],
   [1698829187, '350134651.816'],
   [1698829190, '350134890.302'],
   [1698829193, '350135128.788'],
   [1698829196, '350135367.274'],
   [1698829199, '350135605.76'],
   [1698829202, '350135844.246'],
   [1698829205, '350136082.732'],
   [1698829208, '350136321.218'],
   [1698829211, '350136559.704'],
   [1698829214, '350136798.19'],
   [1698829217, '350137036.676'],
   [1698829220, '350137275.162'],
   [1698829223, '350137513.648'],
   [1698829226, '350137752.134'],
   [1698829229, '350137990.62'],
   [1698829232, '350138229.106'],
   [1698829235, '350138467.592'],
   [1698829238, '350138706.078'],
   [1698829241, '350138944.564'],
   [1698829244, '350139183.05'],
   [1698829247, '350139421.536'],
   [1698829250, '350139660.022'],
   [1698829253, '350139898.508'],
   [1698829256, '350140136.994'],
   [1698829259, '350140375.48'],
   [1698829262, '350140613.966'],
   [1698829265, '350140852.452'],
   [1698829268, '350141090.938'],
   [1698829271, '350141329.424'],
   [1698829274, '350141567.91'],
   [1698829277, '350141806.396'],
   [1698829280, '350142044.882'],
   [1698829283, '350142283.368'],
   [1698829286, '350142521.854'],
   [1698829289, '350142760.34'],
   [1698829292, '350142998.826'],
   [1698829295, '350143237.312'],
   [1698829298, '350143475.798'],
   [1698829301, '350143714.284'],
   [1698829304, '350143952.77'],
   [1698829307, '350144191.256'],
   [1698829310, '350144429.742'],
   [1698829313, '350144668.228'],
   [1698829316, '350144906.714'],
   [1698829319, '350145145.2'],
   [1698829322, '350145383.686'],
   [1698829325, '350145622.172'],
   [1698829328, '350145860.658'],
   [1698829331, '350146099.144'],
   [1698829334, '350146337.63'],
   [1698829337, '350146576.116'],
   [1698829340, '350146814.602'],
   [1698829343, '350147053.088'],
   [1698829346, '350147291.574'],
   [1698829349, '350147530.06'],
   [1698829352, '350147768.546']]}]